<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="template.xhtml" 
    xmlns="https://www.w3c.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- wird im head eingefügt -->
    <ui:param name="pageTitle" value="Onlineshop" />
    <ui:param name="pageAuthor" value="Jan Wetzel, Robin Lang" />
    <ui:param name="pageDescription" value="" />

    <!-- Überschrift im content Bereich -->
    <ui:define name="contentHeader"></ui:define>
    <ui:define name="breadcrumb">
        <p:menuitem value="Startseite" url="/index.xhtml" />
    </ui:define>

    <ui:define name="content">
        <section>
            <h2>Herzlich Willkommen, #{nickname != null ? nickname : "unbekannter Benutzer"}</h2>
        </section>

        <!-- Page content-->
        <div class="container">
            <div class="mt-5">
                <p>
                    <h2>Shop</h2>
                    <a class="link-primary" href="shop.xhtml" target="_blank">Shop</a>
                </p>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="/js/bootstrap.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </ui:define>

    <ui:define name="contentFooter">
        <!-- was auch immer da stehen soll -->
    </ui:define>
</ui:composition>