<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>#{pageTitle}</title>
        <meta name="description" content="#{pageDescription}" />
        <meta name="author" content="#{pageAuthor}" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </h:head>
    <h:body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/index.xhtml">Onlinekatalog</a>
            </div>
            <h:form>
                <p:menu overlay="true" trigger="avatar" my="right top" at="top right">
                    <p:menuitem value="Login" url="/login" />
                    <p:menuitem value="Logout" url="/logout" />
                    <p:menuitem value="Warenkorb" url="/warenkorb.xhtml" />
                </p:menu>
                <p:avatar id="avatar" shape="circle">
                    <p:graphicImage value="#{picture != null ? picture : '/assets/user.png'}" />
                </p:avatar>
            </h:form>
        </nav>
        <!-- /Responsive navbar-->
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Home" url="/index.xhtml" />
                <ui:insert name="breadcrumb">Breadcrumb</ui:insert>
            </p:breadCrumb>
        </h:form>
        <!-- Page content -->
        <main class="container">
            <header>
                <h1>
                    <ui:insert name="contentHeader">Content Header</ui:insert>
                </h1>
            </header>
            <ui:insert name="content">Page Content</ui:insert>
            <footer>
                <ui:insert name="contentFooter">Page Content</ui:insert>
            </footer>
        </main>
        <!-- /Page content -->
    </h:body>
</f:view>

</html>
