<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="template.xhtml" 
    xmlns="https://www.w3c.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- wird im head eingefügt -->
    <ui:param name="pageTitle" value="Onlineshop" />
    <ui:param name="pageAuthor" value="Jan Wetzel, Robin Lang" />
    <ui:param name="pageDescription" value="" />

    <!-- Überschrift im content Bereich -->
    <ui:define name="contentHeader"></ui:define>
    <ui:define name="breadcrumb">
        <p:menuitem value="Startseite" url="/index.xhtml" />
        <p:menuitem value="Warenkorb" url="/warenkorb.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form id="form">
            <p:inputText id="globalFilterID" placeholder="Search by ID..." value="#{shop.filterID}" />
            <br />
            <p:inputText id="globalFilterName" placeholder="Search by name..." value="#{shop.filterName}" />
            <br />
            <p:commandButton value="Submit" actionListener="#{shop.filterProducts}" update="form" />

            #{user.getID()}

            <ui:repeat var="order" value="#{user.getOrders()}">
                #{order.orderNumber}
            </ui:repeat>

            <ui:repeat var="product" value="#{shop.products}">
                <p:card>
                    <f:facet name="header">
                        Produktnummer: #{product.productNumber}
                    </f:facet>
                    <f:facet name="title">
                        #{product.name} (Anzahl: #{product.inStock})
                    </f:facet>
                    <f:facet name="subtitle">
                        #{product.price}€
                    </f:facet>
                    #{product.description}, Verfügbar: #{product.inStock}, Kategorien: #{product.categories[0].getName()}
                    <f:facet name="footer">
                        <img src="#{product.images[0].getDir()}" width="128"></img>
                    </f:facet>
                </p:card>
            </ui:repeat>
        </h:form>
    </ui:define>

    <ui:define name="contentFooter">
        <!-- was auch immer da stehen soll -->
    </ui:define>
</ui:composition>